body {
  font-family: system-ui;
  background: #2F4F4F;
  color: white;
  text-align: left;
}
h2 {
text-align: center;
}
.Image1 {
  display: block;
  margin: 20px auto;
  max-width: 80%;
  height: auto;
}
.Image2 {
  display: block;
  margin: 20px;
  max-width: 40%;
  height: auto;
}
.Image3 {
  margin: 20px;
  max-width: 40%;
  height: auto;
}